.container {
padding-top: 7rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 3rem;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 728px) {
  .header {
    font-size: 1.8rem;
  }
}
